venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store
data/raw/
data/processed/
*.pt
*.pkl
.env
data/raw/
data/processed/
venv/
data/interim/

# Data folders
data/

# Local folders
local/
Local/

# Virtual environments
venv/
.venv/
env/
